In [8]:
#Importing modules

import matplotlib.pyplot as plt
import random
import numpy as np
import pandas as pd


d={'col1': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24], 'col2': [0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]}
df=pd.DataFrame(data=d)

st_time=23
c_time=5
index=st_time-1

for i in range(c_time):
    
    df.iat[index,1]=df.iat[index,1]+1.143
    index=index+1
    if index>23:
        index=0

df

    col1   col2
0      1  1.143
1      2  1.143
2      3  1.143
3      4  0.000
4      5  0.000
5      6  0.000
6      7  0.000
7      8  0.000
8      9  0.000
9     10  0.000
10    11  0.000
11    12  0.000
12    13  0.000
13    14  0.000
14    15  0.000
15    16  0.000
16    17  0.000
17    18  0.000
18    19  0.000
19    20  0.000
20    21  0.000
21    22  0.000
22    23  1.143
23    24  1.143